#button_0_0 {
    font-size: 100px;
}

#button_0_1 {
    font-size: 100px;
}

#button_0_2 {
    font-size: 100px;
}

#button_1_0 {
    font-size: 100px;
}

#button_1_1 {
    font-size: 100px;
}

#button_1_2 {
    font-size: 100px;
}

#button_2_0 {
    font-size: 100px;
}

#button_2_1 {
    font-size: 100px;
}

#button_2_2 {
    font-size: 100px;
}
